In [29]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn import linear_model
from sklearn.model_selection import train_test_split


%matplotlib inline

In [6]:
# create a DataFrame 
df = pd.DataFrame([["M", 8000],
                  ["M", 7000],
                  ["S", 3000],
                  ["M", 5000],
                  ["S", 4000],
                  ["S", 3500],
                  ["M", 9000],
                  ["M", 8000],
                  ["S", 4000]],
                 columns = ["Marital Status","Monthly Expenditure"])

In [13]:
df =pd.get_dummies(df)

In [33]:
X = df[['Marital Status_M']]
y = df['Monthly Expenditure']
lm = linear_model.LinearRegression()
model = lm.fit(X, y)

In [34]:
print (model.intercept_)
print (model.coef_)

3625.0000000000005
[3775.]

In [26]:
df

   Monthly Expenditure  Marital Status_M  Marital Status_S
0                 8000                 1                 0
1                 7000                 1                 0
2                 3000                 0                 1
3                 5000                 1                 0
4                 4000                 0                 1
5                 3500                 0                 1
6                 9000                 1                 0
7                 8000                 1                 0
8                 4000                 0                 1